/**************************************\
  # GRID
\**************************************/

    /*------------------------------------*\
    # BASE
    \*------------------------------------*/

    /**
    * Container and row
    */

    .container {
        padding: 2rem;
    }

    .row,
    .row-fullwith {
        flex-wrap: wrap;
        flex: 0 1 auto;
        display: flex;
    }

    .row {
        margin-right: auto;
        margin-left: auto;
        max-width: 1400px;
    }


    /**
    * Wrap
    */

    .no-wrap {
        flex-wrap: nowrap;
    }


    

    /*------------------------------------*\
    # COLUMNS
    \*------------------------------------*/

    [class*="col-"],
    [class*="col-sm"],
    [class*="col-md"],
    [class*="col-lg"],
    [class*="col-xl"] {
        padding: .5rem;
        /* flex: 0 0 auto; */
    }


    /**
    * Default
    */

    .col-1 {
        flex-basis: 8.33333333%;
        max-width: 8.33333333%;
    }

    .col-2 {
        flex-basis: 16.66666667%;
        max-width: 16.66666667%;
    }

    .col-3 {
        flex-basis: 25%;
        max-width: 25%;
    }

    .col-4 {
        flex-basis: 33.33333333%;
        max-width: 33.33333333%;
    }

    .col-5 {
        flex-basis: 41.66666667%;
        max-width: 41.66666667%;
    }

    .col-6 {
        flex-basis: 50%;
        max-width: 50%;
    }

    .col-7 {
        flex-basis: 58.33333333%;
        max-width: 58.33333333%;
    }

    .col-8 {
        flex-basis: 66.66666667%;
        max-width: 66.66666667%;
    }

    .col-9 {
        flex-basis: 75%;
        max-width: 75%;
    }

    .col-10 {
        flex-basis: 83.33333333%;
        max-width: 83.33333333%;
    }

    .col-11 {
        flex-basis: 91.66666667%;
        max-width: 91.66666667%;
    }

    .col-12 {
        flex-basis: 100%;
        max-width: 100%;
    }




    /*------------------------------------*\
    # FLEXBOX
    \*------------------------------------*/
    
    .flex {
        display: flex;
    }
    


    
    /*------------------------------------*\
    # FLEXBOX ALIGNMENT
    \*------------------------------------*/

    .horizontal-left {
        justify-content: flex-start;
    }

    .horizontal-center {
        justify-content: center;
    }

    .horizontal-right {
        justify-content: flex-end;
    }

    .vertical-top {
        align-items: flex-start;
    }

    .vertical-center {
        align-items: center;
    }

    .vertical-bottom {
        align-items: flex-end;
    }




    /*------------------------------------*\
    # FLEXBOX DISTRIBUTION
    \*------------------------------------*/

    .horizontal-around {
        justify-content: space-around;
    }

    .horizontal-between {
        justify-content: space-between;
    }

    .horizontal-evenly {
        justify-content: space-evenly;
    }




/**************************************\
# GRID - MEDIA QUERIES
\**************************************/

/**
* Small devices (landscape phones, 768px and down)
*/

@media (max-width: 768px) {

    /*------------------------------------*\
    # BASE
    \*------------------------------------*/

    /**
    * Container and row
    */

    .container {
        padding: 1rem;
    }




    /*------------------------------------*\
    # COLUMNS
    \*------------------------------------*/

    /**
    * Small
    */

    .col-sm-1 {
        flex-basis: 8.33333333%;
        max-width: 8.33333333%;
    }

    .col-sm-2 {
        flex-basis: 16.66666667%;
        max-width: 16.66666667%;
    }

    .col-sm-3 {
        flex-basis: 25%;
        max-width: 25%;
    }

    .col-sm-4 {
        flex-basis: 33.33333333%;
        max-width: 33.33333333%;
    }

    .col-sm-5 {
        flex-basis: 41.66666667%;
        max-width: 41.66666667%;
    }

    .col-sm-6 {
        flex-basis: 50%;
        max-width: 50%;
    }

    .col-sm-7 {
        flex-basis: 58.33333333%;
        max-width: 58.33333333%;
    }

    .col-sm-8 {
        flex-basis: 66.66666667%;
        max-width: 66.66666667%;
    }

    .col-sm-9 {
        flex-basis: 75%;
        max-width: 75%;
    }

    .col-sm-10 {
        flex-basis: 83.33333333%;
        max-width: 83.33333333%;
    }

    .col-sm-11 {
        flex-basis: 91.66666667%;
        max-width: 91.66666667%;
    }

    .col-sm-12 {
        flex-basis: 100%;
        max-width: 100%;
    }




    /*------------------------------------*\
    # OFFSET
    \*------------------------------------*/

    /**
    * Small
    */

    .col-sm-offset-1 {
        margin-left: 8.33333333%;
    }

    .col-sm-offset-2 {
        margin-left: 16.66666667%;
    }

    .col-sm-offset-3 {
        margin-left: 25%;
    }

    .col-sm-offset-4 {
        margin-left: 33.33333333%;
    }

    .col-sm-offset-5 {
        margin-left: 41.66666667%;
    }

    .col-sm-offset-6 {
        margin-left: 50%;
    }

    .col-sm-offset-7 {
        margin-left: 58.33333333%;
    }

    .col-sm-offset-8 {
        margin-left: 66.66666667%;
    }

    .col-sm-offset-9 {
        margin-left: 75%;
    }

    .col-sm-offset-10 {
        margin-left: 83.33333333%;
    }

    .col-sm-offset-11 {
        margin-left: 91.66666667%;
    }

}


/**
* Medium devices (tablets, 768px and up)
*/

@media (min-width: 768px) {
   
    /*------------------------------------*\
    # COLUMNS
    \*------------------------------------*/

    /**
    * Medium
    */

    .col-md-1 {
        flex-basis: 8.33333333%;
        max-width: 8.33333333%;
    }

    .col-md-2 {
        flex-basis: 16.66666667%;
        max-width: 16.66666667%;
    }

    .col-md-3 {
        flex-basis: 25%;
        max-width: 25%;
    }

    .col-md-4 {
        flex-basis: 33.33333333%;
        max-width: 33.33333333%;
    }

    .col-md-5 {
        flex-basis: 41.66666667%;
        max-width: 41.66666667%;
    }

    .col-md-6 {
        flex-basis: 50%;
        max-width: 50%;
    }

    .col-md-7 {
        flex-basis: 58.33333333%;
        max-width: 58.33333333%;
    }

    .col-md-8 {
        flex-basis: 66.66666667%;
        max-width: 66.66666667%;
    }

    .col-md-9 {
        flex-basis: 75%;
        max-width: 75%;
    }

    .col-md-10 {
        flex-basis: 83.33333333%;
        max-width: 83.33333333%;
    }

    .col-md-11 {
        flex-basis: 91.66666667%;
        max-width: 91.66666667%;
    }

    .col-md-12 {
        flex-basis: 100%;
        max-width: 100%;
    }




    /*------------------------------------*\
    # OFFSET
    \*------------------------------------*/

    /**
    * Medium
    */

    .col-md-offset-1 {
        margin-left: 8.33333333%;
    }

    .col-md-offset-2 {
        margin-left: 16.66666667%;
    }

    .col-md-offset-3 {
        margin-left: 25%;
    }

    .col-md-offset-4 {
        margin-left: 33.33333333%;
    }

    .col-md-offset-5 {
        margin-left: 41.66666667%;
    }

    .col-md-offset-6 {
        margin-left: 50%;
    }

    .col-md-offset-7 {
        margin-left: 58.33333333%;
    }

    .col-md-offset-8 {
        margin-left: 66.66666667%;
    }

    .col-md-offset-9 {
        margin-left: 75%;
    }

    .col-md-offset-10 {
        margin-left: 83.33333333%;
    }

    .col-md-offset-11 {
        margin-left: 91.66666667%;
    }

}


/**
* Large devices (desktops, 992px and up)
*/

@media (min-width: 992px) {

    /*------------------------------------*\
    # COLUMNS
    \*------------------------------------*/

    /**
    * Large
    */

    .col-lg-1 {
        flex-basis: 8.33333333%;
        max-width: 8.33333333%;
    }

    .col-lg-2 {
        flex-basis: 16.66666667%;
        max-width: 16.66666667%;
    }

    .col-lg-3 {
        flex-basis: 25%;
        max-width: 25%;
    }

    .col-lg-4 {
        flex-basis: 33.33333333%;
        max-width: 33.33333333%;
    }

    .col-lg-5 {
        flex-basis: 41.66666667%;
        max-width: 41.66666667%;
    }

    .col-lg-6 {
        flex-basis: 50%;
        max-width: 50%;
    }

    .col-lg-7 {
        flex-basis: 58.33333333%;
        max-width: 58.33333333%;
    }

    .col-lg-8 {
        flex-basis: 66.66666667%;
        max-width: 66.66666667%;
    }

    .col-lg-9 {
        flex-basis: 75%;
        max-width: 75%;
    }

    .col-lg-10 {
        flex-basis: 83.33333333%;
        max-width: 83.33333333%;
    }

    .col-lg-11 {
        flex-basis: 91.66666667%;
        max-width: 91.66666667%;
    }

    .col-lg-12 {
        flex-basis: 100%;
        max-width: 100%;
    }
    /*------------------------------------*\
    # OFFSET
    \*------------------------------------*/

    /**
    * Large
    */

    .col-lg-offset-1 {
        margin-left: 8.33333333%;
    }

    .col-lg-offset-2 {
        margin-left: 16.66666667%;
    }

    .col-lg-offset-3 {
        margin-left: 25%;
    }

    .col-lg-offset-4 {
        margin-left: 33.33333333%;
    }

    .col-lg-offset-5 {
        margin-left: 41.66666667%;
    }

    .col-lg-offset-6 {
        margin-left: 50%;
    }

    .col-lg-offset-7 {
        margin-left: 58.33333333%;
    }

    .col-lg-offset-8 {
        margin-left: 66.66666667%;
    }

    .col-lg-offset-9 {
        margin-left: 75%;
    }

    .col-lg-offset-10 {
        margin-left: 83.33333333%;
    }

    .col-lg-offset-11 {
        margin-left: 91.66666667%;
    }

}


/**
* Extra large devices (large desktops, 1200px and up)
*/

@media (min-width: 1200px) {

    /*------------------------------------*\
    # COLUMNS
    \*------------------------------------*/

    /**
    * Extra large
    */

    .col-xl-1 {
        flex-basis: 8.33333333%;
        max-width: 8.33333333%;
    }

    .col-xl-2 {
        flex-basis: 16.66666667%;
        max-width: 16.66666667%;
    }

    .col-xl-3 {
        flex-basis: 25%;
        max-width: 25%;
    }

    .col-xl-4 {
        flex-basis: 33.33333333%;
        max-width: 33.33333333%;
    }

    .col-xl-5 {
        flex-basis: 41.66666667%;
        max-width: 41.66666667%;
    }

    .col-xl-6 {
        flex-basis: 50%;
        max-width: 50%;
    }

    .col-xl-7 {
        flex-basis: 58.33333333%;
        max-width: 58.33333333%;
    }

    .col-xl-8 {
        flex-basis: 66.66666667%;
        max-width: 66.66666667%;
    }

    .col-xl-9 {
        flex-basis: 75%;
        max-width: 75%;
    }

    .col-xl-10 {
        flex-basis: 83.33333333%;
        max-width: 83.33333333%;
    }

    .col-xl-11 {
        flex-basis: 91.66666667%;
        max-width: 91.66666667%;
    }

    .col-xl-12 {
        flex-basis: 100%;
        max-width: 100%;
    }




    /*------------------------------------*\
    # OFFSET
    \*------------------------------------*/

    /**
    * Extra large
    */

    .col-xl-offset-1 {
        margin-left: 8.33333333%;
    }

    .col-xl-offset-2 {
        margin-left: 16.66666667%;
    }

    .col-xl-offset-3 {
        margin-left: 25%;
    }

    .col-xl-offset-4 {
        margin-left: 33.33333333%;
    }

    .col-xl-offset-5 {
        margin-left: 41.66666667%;
    }

    .col-xl-offset-6 {
        margin-left: 50%;
    }

    .col-xl-offset-7 {
        margin-left: 58.33333333%;
    }

    .col-xl-offset-8 {
        margin-left: 66.66666667%;
    }

    .col-xl-offset-9 {
        margin-left: 75%;
    }

    .col-xl-offset-10 {
        margin-left: 83.33333333%;
    }

    .col-xl-offset-11 {
        margin-left: 91.66666667%;
    }
    
}